<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teach.teachingsys.mapper.AssignmentSubmissionMapper">
    
    <resultMap type="AssignmentSubmission" id="AssignmentSubmissionResult">
        <result property="id"    column="id"    />
        <result property="assignmentId"    column="assignment_id"    />
        <result property="userId"    column="user_id"    />
        <result property="attemptNumber"    column="attempt_number"    />
        <result property="submittedTime"    column="submitted_time"    />
        <result property="totalScore"    column="total_score"    />
        <result property="autoGradedScore"    column="auto_graded_score"    />
        <result property="teacherFeedback"    column="teacher_feedback"    />
        <result property="gradedTime"    column="graded_time"    />
        <result property="graderId"    column="grader_id"    />
        <result property="submissionData"    column="submission_data"    />
        <result property="hasQuestionSnapshot"    column="has_question_snapshot"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectAssignmentSubmissionVo">
        select id, assignment_id, user_id, attempt_number, submitted_time, total_score, auto_graded_score, teacher_feedback, graded_time, grader_id, submission_data, has_question_snapshot, status from assignment_submission
    </sql>

    <select id="selectAssignmentSubmissionList" parameterType="AssignmentSubmission" resultMap="AssignmentSubmissionResult">
        <include refid="selectAssignmentSubmissionVo"/>
        <where>  
            <if test="assignmentId != null "> and assignment_id = #{assignmentId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="attemptNumber != null "> and attempt_number = #{attemptNumber}</if>
            <if test="submittedTime != null "> and submitted_time = #{submittedTime}</if>
            <if test="totalScore != null "> and total_score = #{totalScore}</if>
            <if test="autoGradedScore != null "> and auto_graded_score = #{autoGradedScore}</if>
            <if test="teacherFeedback != null  and teacherFeedback != ''"> and teacher_feedback = #{teacherFeedback}</if>
            <if test="gradedTime != null "> and graded_time = #{gradedTime}</if>
            <if test="graderId != null "> and grader_id = #{graderId}</if>
            <if test="submissionData != null  and submissionData != ''"> and submission_data = #{submissionData}</if>
            <if test="hasQuestionSnapshot != null "> and has_question_snapshot = #{hasQuestionSnapshot}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectAssignmentSubmissionById" parameterType="Long" resultMap="AssignmentSubmissionResult">
        <include refid="selectAssignmentSubmissionVo"/>
        where id = #{id}
    </select>

    <insert id="insertAssignmentSubmission" parameterType="AssignmentSubmission" useGeneratedKeys="true" keyProperty="id">
        insert into assignment_submission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="assignmentId != null">assignment_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="attemptNumber != null">attempt_number,</if>
            <if test="submittedTime != null">submitted_time,</if>
            <if test="totalScore != null">total_score,</if>
            <if test="autoGradedScore != null">auto_graded_score,</if>
            <if test="teacherFeedback != null">teacher_feedback,</if>
            <if test="gradedTime != null">graded_time,</if>
            <if test="graderId != null">grader_id,</if>
            <if test="submissionData != null">submission_data,</if>
            <if test="hasQuestionSnapshot != null">has_question_snapshot,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="assignmentId != null">#{assignmentId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="attemptNumber != null">#{attemptNumber},</if>
            <if test="submittedTime != null">#{submittedTime},</if>
            <if test="totalScore != null">#{totalScore},</if>
            <if test="autoGradedScore != null">#{autoGradedScore},</if>
            <if test="teacherFeedback != null">#{teacherFeedback},</if>
            <if test="gradedTime != null">#{gradedTime},</if>
            <if test="graderId != null">#{graderId},</if>
            <if test="submissionData != null">#{submissionData},</if>
            <if test="hasQuestionSnapshot != null">#{hasQuestionSnapshot},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateAssignmentSubmission" parameterType="AssignmentSubmission">
        update assignment_submission
        <trim prefix="SET" suffixOverrides=",">
            <if test="assignmentId != null">assignment_id = #{assignmentId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="attemptNumber != null">attempt_number = #{attemptNumber},</if>
            <if test="submittedTime != null">submitted_time = #{submittedTime},</if>
            <if test="totalScore != null">total_score = #{totalScore},</if>
            <if test="autoGradedScore != null">auto_graded_score = #{autoGradedScore},</if>
            <if test="teacherFeedback != null">teacher_feedback = #{teacherFeedback},</if>
            <if test="gradedTime != null">graded_time = #{gradedTime},</if>
            <if test="graderId != null">grader_id = #{graderId},</if>
            <if test="submissionData != null">submission_data = #{submissionData},</if>
            <if test="hasQuestionSnapshot != null">has_question_snapshot = #{hasQuestionSnapshot},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAssignmentSubmissionById" parameterType="Long">
        delete from assignment_submission where id = #{id}
    </delete>

    <delete id="deleteAssignmentSubmissionByIds" parameterType="String">
        delete from assignment_submission where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>