<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teach.teachingsys.mapper.CoursematerialMapper">
    
    <resultMap type="Coursematerial" id="CoursematerialResult">
        <result property="id"    column="id"    />
        <result property="chapterId"    column="chapter_id"    />
        <result property="materialName"    column="material_name"    />
        <result property="materialType"    column="material_type"    />
        <result property="fileUrl"    column="file_url"    />
        <result property="fileSize"    column="file_size"    />
        <result property="duration"    column="duration"    />
        <result property="description"    column="description"    />
        <result property="downloadCount"    column="download_count"    />
        <result property="viewCount"    column="view_count"    />
        <result property="isFree"    column="is_free"    />
        <result property="materialOrder"    column="material_order"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectCoursematerialVo">
        select id, chapter_id, material_name, material_type, file_url, file_size, duration, description, download_count, view_count, is_free, material_order, created_time, updated_time from coursematerial
    </sql>

    <select id="selectCoursematerialList" parameterType="Coursematerial" resultMap="CoursematerialResult">
        <include refid="selectCoursematerialVo"/>
        <where>  
            <if test="chapterId != null "> and chapter_id = #{chapterId}</if>
            <if test="materialName != null  and materialName != ''"> and material_name like concat('%', #{materialName}, '%')</if>
            <if test="materialType != null  and materialType != ''"> and material_type = #{materialType}</if>
            <if test="fileUrl != null  and fileUrl != ''"> and file_url = #{fileUrl}</if>
            <if test="fileSize != null "> and file_size = #{fileSize}</if>
            <if test="duration != null "> and duration = #{duration}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="downloadCount != null "> and download_count = #{downloadCount}</if>
            <if test="viewCount != null "> and view_count = #{viewCount}</if>
            <if test="isFree != null "> and is_free = #{isFree}</if>
            <if test="materialOrder != null "> and material_order = #{materialOrder}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
        </where>
    </select>
    
    <select id="selectCoursematerialById" parameterType="Long" resultMap="CoursematerialResult">
        <include refid="selectCoursematerialVo"/>
        where id = #{id}
    </select>

    <insert id="insertCoursematerial" parameterType="Coursematerial" useGeneratedKeys="true" keyProperty="id">
        insert into coursematerial
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="chapterId != null">chapter_id,</if>
            <if test="materialName != null and materialName != ''">material_name,</if>
            <if test="materialType != null and materialType != ''">material_type,</if>
            <if test="fileUrl != null and fileUrl != ''">file_url,</if>
            <if test="fileSize != null">file_size,</if>
            <if test="duration != null">duration,</if>
            <if test="description != null">description,</if>
            <if test="downloadCount != null">download_count,</if>
            <if test="viewCount != null">view_count,</if>
            <if test="isFree != null">is_free,</if>
            <if test="materialOrder != null">material_order,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedTime != null">updated_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="chapterId != null">#{chapterId},</if>
            <if test="materialName != null and materialName != ''">#{materialName},</if>
            <if test="materialType != null and materialType != ''">#{materialType},</if>
            <if test="fileUrl != null and fileUrl != ''">#{fileUrl},</if>
            <if test="fileSize != null">#{fileSize},</if>
            <if test="duration != null">#{duration},</if>
            <if test="description != null">#{description},</if>
            <if test="downloadCount != null">#{downloadCount},</if>
            <if test="viewCount != null">#{viewCount},</if>
            <if test="isFree != null">#{isFree},</if>
            <if test="materialOrder != null">#{materialOrder},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <update id="updateCoursematerial" parameterType="Coursematerial">
        update coursematerial
        <trim prefix="SET" suffixOverrides=",">
            <if test="chapterId != null">chapter_id = #{chapterId},</if>
            <if test="materialName != null and materialName != ''">material_name = #{materialName},</if>
            <if test="materialType != null and materialType != ''">material_type = #{materialType},</if>
            <if test="fileUrl != null and fileUrl != ''">file_url = #{fileUrl},</if>
            <if test="fileSize != null">file_size = #{fileSize},</if>
            <if test="duration != null">duration = #{duration},</if>
            <if test="description != null">description = #{description},</if>
            <if test="downloadCount != null">download_count = #{downloadCount},</if>
            <if test="viewCount != null">view_count = #{viewCount},</if>
            <if test="isFree != null">is_free = #{isFree},</if>
            <if test="materialOrder != null">material_order = #{materialOrder},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCoursematerialById" parameterType="Long">
        delete from coursematerial where id = #{id}
    </delete>

    <delete id="deleteCoursematerialByIds" parameterType="String">
        delete from coursematerial where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>