<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teach.teachingsys.mapper.PostMapper">
    
    <resultMap type="Post" id="PostResult">
        <result property="id"    column="id"    />
        <result property="courseId"    column="course_id"    />
        <result property="userId"    column="user_id"    />
        <result property="authorName"    column="author_name"    />
        <result property="authorAvatar"    column="author_avatar"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="postType"    column="post_type"    />
        <result property="status"    column="status"    />
        <result property="viewCount"    column="view_count"    />
        <result property="replyCount"    column="reply_count"    />
        <result property="hotScore"    column="hot_score"    />
        <result property="statsUpdatedTime"    column="stats_updated_time"    />
        <result property="lastReplyTime"    column="last_reply_time"    />
        <result property="lastReplyAuthorName"    column="last_reply_author_name"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectPostVo">
        select id, course_id, user_id, author_name, author_avatar, title, content, post_type, status, view_count, reply_count, hot_score, stats_updated_time, last_reply_time, last_reply_author_name, created_time, updated_time from post
    </sql>

    <select id="selectPostList" parameterType="Post" resultMap="PostResult">
        <include refid="selectPostVo"/>
        <where>  
            <if test="courseId != null "> and course_id = #{courseId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="authorName != null  and authorName != ''"> and author_name like concat('%', #{authorName}, '%')</if>
            <if test="authorAvatar != null  and authorAvatar != ''"> and author_avatar = #{authorAvatar}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="postType != null  and postType != ''"> and post_type = #{postType}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="viewCount != null "> and view_count = #{viewCount}</if>
            <if test="replyCount != null "> and reply_count = #{replyCount}</if>
            <if test="hotScore != null "> and hot_score = #{hotScore}</if>
            <if test="statsUpdatedTime != null "> and stats_updated_time = #{statsUpdatedTime}</if>
            <if test="lastReplyTime != null "> and last_reply_time = #{lastReplyTime}</if>
            <if test="lastReplyAuthorName != null  and lastReplyAuthorName != ''"> and last_reply_author_name like concat('%', #{lastReplyAuthorName}, '%')</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
        </where>
    </select>
    
    <select id="selectPostById" parameterType="Long" resultMap="PostResult">
        <include refid="selectPostVo"/>
        where id = #{id}
    </select>

    <insert id="insertPost" parameterType="Post" useGeneratedKeys="true" keyProperty="id">
        insert into post
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseId != null">course_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="authorName != null">author_name,</if>
            <if test="authorAvatar != null">author_avatar,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="postType != null">post_type,</if>
            <if test="status != null">status,</if>
            <if test="viewCount != null">view_count,</if>
            <if test="replyCount != null">reply_count,</if>
            <if test="hotScore != null">hot_score,</if>
            <if test="statsUpdatedTime != null">stats_updated_time,</if>
            <if test="lastReplyTime != null">last_reply_time,</if>
            <if test="lastReplyAuthorName != null">last_reply_author_name,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedTime != null">updated_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseId != null">#{courseId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="authorName != null">#{authorName},</if>
            <if test="authorAvatar != null">#{authorAvatar},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="postType != null">#{postType},</if>
            <if test="status != null">#{status},</if>
            <if test="viewCount != null">#{viewCount},</if>
            <if test="replyCount != null">#{replyCount},</if>
            <if test="hotScore != null">#{hotScore},</if>
            <if test="statsUpdatedTime != null">#{statsUpdatedTime},</if>
            <if test="lastReplyTime != null">#{lastReplyTime},</if>
            <if test="lastReplyAuthorName != null">#{lastReplyAuthorName},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <update id="updatePost" parameterType="Post">
        update post
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="authorName != null">author_name = #{authorName},</if>
            <if test="authorAvatar != null">author_avatar = #{authorAvatar},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="postType != null">post_type = #{postType},</if>
            <if test="status != null">status = #{status},</if>
            <if test="viewCount != null">view_count = #{viewCount},</if>
            <if test="replyCount != null">reply_count = #{replyCount},</if>
            <if test="hotScore != null">hot_score = #{hotScore},</if>
            <if test="statsUpdatedTime != null">stats_updated_time = #{statsUpdatedTime},</if>
            <if test="lastReplyTime != null">last_reply_time = #{lastReplyTime},</if>
            <if test="lastReplyAuthorName != null">last_reply_author_name = #{lastReplyAuthorName},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePostById" parameterType="Long">
        delete from post where id = #{id}
    </delete>

    <delete id="deletePostByIds" parameterType="String">
        delete from post where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>