<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teach.teachingsys.mapper.ShortAnswerQuestionMapper">
    
    <resultMap type="ShortAnswerQuestion" id="ShortAnswerQuestionResult">
        <result property="id"    column="id"    />
        <result property="questionId"    column="question_id"    />
        <result property="referenceAnswer"    column="reference_answer"    />
        <result property="answerLengthLimit"    column="answer_length_limit"    />
    </resultMap>

    <sql id="selectShortAnswerQuestionVo">
        select id, question_id, reference_answer, answer_length_limit from short_answer_question
    </sql>

    <select id="selectShortAnswerQuestionList" parameterType="ShortAnswerQuestion" resultMap="ShortAnswerQuestionResult">
        <include refid="selectShortAnswerQuestionVo"/>
        <where>  
            <if test="questionId != null "> and question_id = #{questionId}</if>
            <if test="referenceAnswer != null  and referenceAnswer != ''"> and reference_answer = #{referenceAnswer}</if>
            <if test="answerLengthLimit != null "> and answer_length_limit = #{answerLengthLimit}</if>
        </where>
    </select>
    
    <select id="selectShortAnswerQuestionById" parameterType="Long" resultMap="ShortAnswerQuestionResult">
        <include refid="selectShortAnswerQuestionVo"/>
        where id = #{id}
    </select>

    <insert id="insertShortAnswerQuestion" parameterType="ShortAnswerQuestion" useGeneratedKeys="true" keyProperty="id">
        insert into short_answer_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="questionId != null">question_id,</if>
            <if test="referenceAnswer != null">reference_answer,</if>
            <if test="answerLengthLimit != null">answer_length_limit,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="questionId != null">#{questionId},</if>
            <if test="referenceAnswer != null">#{referenceAnswer},</if>
            <if test="answerLengthLimit != null">#{answerLengthLimit},</if>
         </trim>
    </insert>

    <update id="updateShortAnswerQuestion" parameterType="ShortAnswerQuestion">
        update short_answer_question
        <trim prefix="SET" suffixOverrides=",">
            <if test="questionId != null">question_id = #{questionId},</if>
            <if test="referenceAnswer != null">reference_answer = #{referenceAnswer},</if>
            <if test="answerLengthLimit != null">answer_length_limit = #{answerLengthLimit},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteShortAnswerQuestionById" parameterType="Long">
        delete from short_answer_question where id = #{id}
    </delete>

    <delete id="deleteShortAnswerQuestionByIds" parameterType="String">
        delete from short_answer_question where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>